<h1>Game Info:</h1>

<h3>Being Hosted By:</h3>
<h4>Username: <%= @host.username %><br></h4>
<p>Email: <%= @host.email %><br>
Phone Number: <%= @host.phone_number %><br>
Address: <%= @host.address %></p>




<h3>Game Description:</h3>

Description: <%= @game.description %><br><br>
Players Allowed: <%= @game.minplayers %>-<%= @game.maxplayers %><br>
Suggested Age: <%= @game.minage %> years old +<br><br>


<% if @host.username == current_user.username %>
<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="End My Session">
</form>
<% end %>

