<h1>Game Info:</h1>

<h3>Being Hosted By:</h3>
<h4>Username: <%= @host.username %><br></h4>
<p>Email: <%= @host.email %><br>
Phone Number: <%= @host.phone_number %><br>
Address: <%= @host.address %></p>

<h3>Game Description:</h3>

Description: <%= @game.description %><br><br>
Players Allowed: <%= @game.minplayers %>-<%= @game.maxplayers %><br>
Suggested Age: <%= @game.minage %> years old +<br><br>

<iframe class="track-youtube-video"
              src="https://www.youtube.com/embed/<%= @url %>?enablejsapi=1"
              ></iframe>

<h4>Current Player Count: <%= @game.players.length %></h4>
<p>Players - <br>
<% @game.players.each do |player| %>
<a href = "/users/<%= player.id %>"><%= player.username %><br></a>
<% end %></p><br>
<div id="message-div"></div>
<% if logged_in? %>
<% if @host.username == current_user.username %>

<form id="message-players" action="/games/<%= @game.id %>/messages/new" method="GET">
  <input type="submit" value="Message Players">
</form>

<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="End My Session">
</form>
<% end %>

<% if @host.username != current_user.username && @game.maxplayers > @game.players.length && @game.players.exclude?(current_user) %>
<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Join This Game">
</form>
<% end %>
<% end %>

