<h1>Game Info:</h1>

<h3>Being Hosted By:</h3>
<h4>Username: <%= @host.username %><br></h4>
<p>Email: <%= @host.email %><br>
Phone Number: <%= @host.phone_number %><br>
Address: <%= @host.address %></p>


<h3>Game Description:</h3>

Description: <%= @game.description %><br><br>
Players Allowed: <%= @game.minplayers %>-<%= @game.maxplayers %><br>
Suggested Age: <%= @game.minage %> years old +<br><br>

<h4>Current Player Count: <%= @game.players.length %></h4>
<p>Players:</p>

<% if @host.username == current_user.username %>

<form action="/messages/new" method="GET">
  <input type="submit" value="Message Players">
</form>

<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="End My Session">
</form>
<% end %>

<% if @host.username != current_user.username && @game.maxplayers > @game.players.length %>
<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="Join This Game">
</form>
<% end %>

